<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<select id="selectFreeBoardList" resultType="Board">
		<![CDATA[
			SELECT BOARD_NO, BOARD_TITLE, MEMBER_NO, CREATE_DATE, READ_COUNT, LIKE_COUNT
			FROM BOARD
			WHERE BOARD_TYPE = 'FREE'
			ORDER BY BOARD_NO DESC
		]]>
	</select>

	<select id="getBoardCount" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM BOARD WHERE BOARD_TYPE = #{boardType}
		]]>
	</select>

	<select id="selectBoardList" parameterType="map" resultType="Board">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, A.* FROM (
					SELECT 
						B.BOARD_NO,
						B.BOARD_TITLE,
						B.CREATE_DATE,
						M.MEMBER_NICK AS MEMBER_NICKNAME,
						NVL(R.REPLY_COUNT, 0) AS REPLY_COUNT,
						NVL(L.LIKE_COUNT, 0) AS LIKE_COUNT
					FROM BOARD B
					JOIN MEMBER M ON B.MEMBER_NO = M.MEMBER_NO
					LEFT JOIN (
						SELECT BOARD_NO, COUNT(*) AS REPLY_COUNT
						FROM REPLY
						GROUP BY BOARD_NO
					) R ON B.BOARD_NO = R.BOARD_NO
					LEFT JOIN (
						SELECT BOARD_NO, COUNT(*) AS LIKE_COUNT
						FROM "LIKE"
						WHERE LIKE_TYPE = 'LIKE'
						GROUP BY BOARD_NO
					) L ON B.BOARD_NO = L.BOARD_NO
					WHERE B.BOARD_TYPE = #{boardType}
					ORDER BY B.BOARD_NO DESC
				) A
				WHERE ROWNUM <= #{endRow}
			)
			WHERE RNUM >= #{startRow}
		]]>
	</select>

</mapper>